/* Main Css replace */
body.layout-admin #middle {
    padding: 0;
}

.table>:not(caption)>*>* {
    background-color: #fff0 !important;
}

.navbar {
    flex-wrap: nowrap;
}

.table {
    font-size: 0.8rem;
}

/* --------------------------- */

/* Datatable Css replace */
a.dt-button.dropdown-item.buttons-csv.buttons-html5,
a.dt-button.dropdown-item.buttons-copy.buttons-html5,
a.dt-button.dropdown-item.buttons-print {
    display: none;
}

.table-datatable-custom thead tr th {
    border-bottom-color: #6b6b6b;
}

.table-datatable-custom tbody tr td {
    border-bottom-color: #dbdbdb;
}

table.table-datatable-custom {
    width: 100% !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 100% !important;
}

/* -------------------------- */
nav.nav-deep-light .nav-item.active>.nav-link,
nav.nav-deep-light .nav-item:hover>.nav-link {
    color: #ff6100 !important;
}

.border-color-main {
    border-color: #ff6100 !important;
}

/* Custom Css */
.btn-ferry {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff6100;
    --bs-btn-border-color: #ff6100;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d14252;
    --bs-btn-hover-border-color: #c53e4d;
    --bs-btn-focus-shadow-rgb: 247, 105, 120;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c53e4d;
    --bs-btn-active-border-color: #b93b48;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ff6100;
    --bs-btn-disabled-border-color: #ff6100;
}

.btn-outline-ferry {
    --bs-btn-color: #ff6100;
    --bs-btn-border-color: #ff6100;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ff6100;
    --bs-btn-hover-border-color: #ff6100;
    --bs-btn-focus-shadow-rgb: 87, 79, 236;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ff6100;
    --bs-btn-active-border-color: #ff6100;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ff6100;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ff6100;
    --bs-gradient: none;
}

.background-trans {
    background-color: #ffffff6b !important;
}

.bg-transparent {
    background-color: transparent;
}

.bg-main-color {
    background-color: #ff6100 !important;
}

.text-main-color {
    color: #0a3961;
}

.text-main-color-2 {
    color: #ff6100 !important;
}

.text-second-color {
    color: #00bf63;
}


/* width */
.w--5 {
    width: 5%;
}

.w--10 {
    width: 10%;
}

.w--12 {
    width: 12%;
}

.w--15 {
    width: 15% !important;
}

.w--20 {
    width: 20%;
}

.w--30 {
    width: 30%;
}

.w--40 {
    width: 40%;
}

.w--60 {
    width: 60%;
}

.w--80 {
    width: 80%;
}

.w--90 {
    width: 90%;
}

.w--100 {
    width: 100%;
}

.mx-w--100 {
    max-width: 100px !important;
}

/* Font size */
.fs-d-80 {
    font-size: 80%;
}

.button-green-bg {
    background-color: #00bf63;
    color: #fff;
}

.button-green-bg:hover {
    background-color: #00bf63;
    color: #fff;
}

.button-orange-bg {
    background-color: #ff6100;
    color: #fff;
}

.button-orange-bg:hover {
    background-color: #ff6100;
    color: #fff;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-30 {
    border-radius: 30px;
}

.table-custom-style {
    border-bottom: 0.3rem solid #a1a1a1 !important;
}

.table-custom-style thead tr th {
    border: 0.3rem solid #a1a1a1 !important;
}

.table-custom-style tbody tr {
    border-bottom: none !important;
}

.table-custom-style tbody tr td {
    border-left: 0.3rem solid #a1a1a1 !important;
    border-right: 0.3rem solid #a1a1a1 !important;
    border-bottom: none;
    line-height: 2.2rem;
}

.visible-element {
    visibility: visible;
    opacity: 1;
    /* transition: visibility 0s 0.5s, opacity 0.5s linear; */
    transition: all 0.5s ease-in-out;
}

.hidden-element {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.justify-center-custom {
    justify-content: inherit !important;
}

/* width */
.slimscroll-custom::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.slimscroll-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.slimscroll-custom::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
.slimscroll-custom::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.icon-size {
    width: 36px;
    height: 36px;
}

/* Mobile ----------------------------------- */
@media (min-width: 576px) {
    div.dataTables_wrapper div.dataTables_filter input {
        width: auto;
    }

    .justify-center-custom {
        justify-content: center !important;
    }
}

@media (max-width: 540px) {
    #navbarMainNav {
        width: 100%;
        display: flex !important;
        position: absolute;
        top: 80px;
    }

    .w--10,
    .w--15,
    .w--20 {
        width: auto !important;
    }

    .w-sm-100 {
        width: 100% !important;
    }

    .w-sm--200 {
        width: 100px !important;
    }

    .table-datatable-custom tbody tr td {
        line-height: 1.6rem !important;
    }

    .mx-w--100 {
        max-width: none !important;
    }

    .icon-size {
        width: 48px;
        height: 48px;
    }

    .space-on-resp {
        border: 1px solid #f1f1f1;
        padding: 10px;
        border-radius: 10px;
    }

    .text-on-resp {
        color: #0a3961;
        font-size: 1.8rem;
        font-weight: 600;
    }
}

@media (max-width: 960px) {

    .w--10,
    .w--15,
    .w--20 {
        width: auto !important;
    }
}

.page-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.5);
}

.spinner {
    top: 45%;
    left: 50%;
    position: relative;
    width: 16px;
    height: 16px;
}

.spinner::before,
.spinner::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    animation: spinner-b4c8mmsm 0.5s backwards, spinner-49opz7sm 1.25s 0.5s infinite ease;
    border: 4px solid #ff6100;
    border-radius: 50%;
    box-shadow: 0 -24px 0 -4px #ff6100;
    position: absolute;
}

.spinner::after {
    animation-delay: 0s, 1.25s;
}

@keyframes spinner-b4c8mmsm {
    from {
        box-shadow: 0 0 0 -4px #ff6100;
    }
}

@keyframes spinner-49opz7sm {
    to {
        transform: rotate(360deg);
    }
}





/* Border response */
@media (min-width: 576px) {
    .border-sm-top {
        border-top: 1px solid #e3e7eb;
    }

    .border-sm-right {
        border-right: 1px solid #e3e7eb;
    }

    .border-sm-bottom {
        border-bottom: 1px solid #e3e7eb;
    }

    .border-sm-left {
        border-left: 1px solid #e3e7eb;
    }

    .border-sm-top-0 {
        border-top: 0 !important;
    }

    .border-sm-right-0 {
        border-right: 0 !important;
    }

    .border-sm-bottom-0 {
        border-bottom: 0 !important;
    }

    .border-sm-left-0 {
        border-left: 0 !important;
    }

    .border-sm-x {
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }

    .border-sm-y {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
    }

    .border-sm {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }

    .border-sm-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
}

@media (min-width: 768px) {
    .border-md-top {
        border-top: 1px solid #e3e7eb !important;
    }

    .border-md-right {
        border-right: 1px solid #e3e7eb !important;
    }

    .border-md-bottom {
        border-bottom: 1px solid #e3e7eb !important;
    }

    .border-md-left {
        border-left: 1px solid #e3e7eb !important;
    }

    .border-md-top-0 {
        border-top: 0 !important;
    }

    .border-md-right-0 {
        border-right: 0 !important;
    }

    .border-md-bottom-0 {
        border-bottom: 0 !important;
    }

    .border-md-left-0 {
        border-left: 0 !important;
    }

    .border-md-x {
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }

    .border-md-y {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
    }

    .border-md {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }

    .border-md-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
}

@media (min-width: 992px) {
    .border-lg-top {
        border-top: 1px solid #e3e7eb;
    }

    .border-lg-end {
        border-right: 1px solid #e3e7eb;
    }

    .border-lg-bottom {
        border-bottom: 1px solid #e3e7eb;
    }

    .border-lg-start {
        border-left: 1px solid #e3e7eb;
    }

    .border-lg-top-0 {
        border-top: 0 !important;
    }

    .border-lg-right-0 {
        border-right: 0 !important;
    }

    .border-lg-bottom-0 {
        border-bottom: 0 !important;
    }

    .border-lg-left-0 {
        border-left: 0 !important;
    }

    .border-lg-x {
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }

    .border-lg-y {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
    }

    .border-lg {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }

    .border-lg-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
}

@media (min-width: 1200px) {
    .border-xl-top {
        border-top: 1px solid #e3e7eb !important;
    }

    .border-xl-right {
        border-right: 1px solid #e3e7eb !important;
    }

    .border-xl-bottom {
        border-bottom: 1px solid #e3e7eb !important;
    }

    .border-xl-left {
        border-left: 1px solid #e3e7eb !important;
    }

    .border-xl-top-0 {
        border-top: 0 !important;
    }

    .border-xl-right-0 {
        border-right: 0 !important;
    }

    .border-xl-bottom-0 {
        border-bottom: 0 !important;
    }

    .border-xl-left-0 {
        border-left: 0 !important;
    }

    .border-xl-x {
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }

    .border-xl-y {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
    }

    .border-xl {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }

    .border-xl-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
}


